* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 100%;
}
li {
  list-style-type: none;
  color: #141414;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #141414;
}
.blue-link {
  color: #0065fe;
}
.first-section {
  width: 100%;
  background-color: #f8f7f7;
  /* width: 1440px;
  height: 1024px; */
  height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0px 145px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
  font-family: Gilroy-Medium;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* font-family: Gilroy-SemiBold; */
}
.login {
  color: #0065fe;
  font-size: 16px;
}
.try-out {
  background-color: #0065fe;
  font-size: 16px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 100px;
}
.hero-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 118px;
}
.hero-text {
  color: #141414;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.sign-learn {
  display: flex;
  gap: 56px;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}
.fancy-image {
  display: flex;
  padding: 40px 60px;
  margin-left: 434px;
  margin-top: 50px;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 24px;
  border: 0.5px solid #005ae2;
  backdrop-filter: blur(106px);
}
ul.line-link{
  display: flex;
  align-items: center;
  gap: 20px;
}
